.header {
  z-index: 1000;
  position: fixed;
  display: flex;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFF;
  .logo {
    width: 200px;
    height: 100%;
    background: #2ecc71;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .image {
      margin-left: 17px;
    }

    .text {
      font-size: 13px;
      color: #fff;
      margin-right: 20px;
    }
  }

  .navbar {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #e5e5e5;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 25px;

      .user {
        margin-right: 30px;
      }

      .massage {
        margin-right: 30px;
      }

      .bell {
        transform: translateY(-6px);
      }
    }

    .center {}

    .right {
      margin-right: 25px;
      .search {
        input {
          width: 110px;
          border: none;
          outline:inherit;
          color: #95a5a6;
        }

        button {
          border: none;
          outline: none;
          background-color: transparent;
          transform: translateY(5px);
        }
      }
    }
  }
}
